@font-face {
  font-family: 'UhBeeSeulvely';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.calender-wrapper {
  width: 100%;
  background: #F7F6F4;
  border-radius: 10px;
  padding: 20px;
}
 
.calender-wrapper .nav {
  align-items: center;
  justify-content: space-between;
}
.calender-wrapper .nav .current-date {
  font-size: 24px;
  color: #544225;
  font-family:'UhBeeSeulvely';
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar .weeks li {
  font-weight: 700;
  color:#544225;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar ul li {
  /*#8*/
  width: calc(100% / 7);
  /*#9*/
  position: relative;
  padding: 0;
}
.calendar .days li {
  /*#10*/
  z-index: 1;
  margin-top: 15px;
  cursor: pointer;
  color: #544225;
}
/*#11*/
.days li.inactive {
  color: #aaa;
}
  .days li.active {
  color: #F0F4F5;
}
.calendar .days li::before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.days li.active::before {
  background-image: url("../../images/heart-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}